@media (hover:hover) {
      
      div.sidebar-left a {
        display: inline-block;
        white-space: nowrap;
        color: rgb(50, 101, 145);
      }
      
      @keyframes bob {
        0% {
          transform: translateY(0);
        }
        25% {
          transform: translateY(-3px);
        }
        75% {
          transform: translateY(+3px);
        }
        100% {
            transform: translateY(0);
        }
      }
      
      div.sidebar-left a:hover {
        animation: bob 1s ease-in-out infinite;
        text-decoration: none;
        color: rgb(94, 140, 180);
      }
      

}