@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.5fr 1fr 0.1fr;
    }  
    
    div#header{
        grid-row: 1;
        grid-column: 1;
    }

    div.sidebar-left{
        grid-row: 2;
        grid-column: 1;
    }

    div.col-right{
        grid-row: 3;
        grid-column: 1;
    }

    div#footer{
        grid-row: 4;
        grid-column: 1;
    }

    div.sidebar-left a {
        color:#445e64;
    }
}