body, h1, h2, h3, p, img, ul, li{ 
	border:0; margin:0; padding:0;
}

body {
	background:#eaf8fb;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
}
	
p {
	letter-spacing:.04em;
	line-height:1.4em;
}
	
ul.navigation {
	list-style:none;
	margin-top:20px;
}
				
ul.navigation li {
	margin:0 3px 5px;
}
				
ul.navigation li a {
	background:#4a4a4a;
	color:#fff;
	-moz-border-radius:2px; 
	border-radius:2px;
	border:1px solid #595959;
	padding:3px 10px;
	text-decoration:none;
}
					
ul.navigation li a:hover {
	background-color:#000;
	
}

.list {
	border-bottom:1px solid #c3dce1; 
	padding:0 0 20px 15px;
}
.list li{
	margin-bottom:10px;
}

.list li a {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;

}
		
.float-left {
	float:left;	
	margin:0 3% 3% 0;
	width: 37%;
	height: auto;
}

.clear {
	clear: both;
}	

main {
	display: grid;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

div#header {
	background-color:#333;
	background-image:url(images/headerbkgd.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	color:#fff;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding:45px 15px 15px;
}

div.col-right {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}

div.sidebar-left {
	padding:0 10px;
}

div#footer{
	background-color:#c4d5d9;
	padding:15px;
	text-align: center;
}