body, h1, h2, h3, p, img, ul, li{ 
	border:0; margin:0; padding:0;
}

body {
	background:#eaf8fb;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em ;
}
	
p {
	letter-spacing:.04em;
	line-height:1.4em;
}
	
ul.navigation {
	list-style:none;
	margin-top:20px;
}
				
ul.navigation li {
	margin:0 3px 5px;
}
				
ul.navigation li a {
	background:#4a4a4a;
	color:#fff;
	-moz-border-radius:2px; 
	border-radius:2px;
	border:1px solid #595959;
	padding:3px 10px;
	text-decoration:none;
}
					
ul.navigation li a:hover {
	background-color:#000;
	
}
	
div.sidebar-left a {
	color:#445e64;
}

.list {
	border-bottom:1px solid #c3dce1; 
	padding:0 0 20px 15px;
}
.list li{
	margin-bottom:10px;
}

.list li a {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;

}
		
.float-left {
	float:left;	
	margin:0 10px 10px 0;
}

.clear {
	clear: both;
}	
