body {
    font-family:'Times New Roman', Times, serif;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

div.contactInfo, div.form {
    padding: 10px;
    margin-bottom: 10px;
}

div.content {
    margin-top: 40px;  
}

.navbar {
    max-width: 900px;
    margin: 0 auto;
    background-color: #333; 
    position: fixed;
    top: 0;
    width: 100%;
  }
  
 
  .navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .navbar .nav-links li {
    margin-right: 20px;
  }
  
  .navbar .nav-links li:last-child {
    margin-right: 0;
  }
  
  .navbar .nav-links a {
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  
  
  div#accordion {
    margin-bottom: 300px;
  }

div.content {
    padding: 10px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
  }
  
.image-wrapper p {
    width: 60%;
    padding: 10px;
}

div#map {
    height: 540px;
}

.wurfl {
    margin-top: 30px;
    margin-right: 5px;
}